USE [master]
GO
/****** Object:  Database [TrabajadoresPrueba]    Script Date: 8/13/2025 5:52:06 PM ******/
CREATE DATABASE [TrabajadoresPrueba]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrabajadoresPrueba', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrabajadoresPrueba.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrabajadoresPrueba_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrabajadoresPrueba_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrabajadoresPrueba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrabajadoresPrueba]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 8/13/2025 5:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreDepartamento] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 8/13/2025 5:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProvincia] [int] NULL,
	[NombreDistrito] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 8/13/2025 5:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDepartamento] [int] NULL,
	[NombreProvincia] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trabajadores]    Script Date: 8/13/2025 5:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trabajadores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [varchar](3) NULL,
	[NumeroDocumento] [varchar](50) NULL,
	[Nombres] [varchar](500) NULL,
	[Sexo] [varchar](1) NULL,
	[IdDepartamento] [int] NULL,
	[IdProvincia] [int] NULL,
	[IdDistrito] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([Id], [NombreDepartamento]) VALUES (1, N'Amazonas')
INSERT [dbo].[Departamento] ([Id], [NombreDepartamento]) VALUES (2, N'Áncash')
INSERT [dbo].[Departamento] ([Id], [NombreDepartamento]) VALUES (3, N'Apurímac')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Distrito] ON 

INSERT [dbo].[Distrito] ([Id], [IdProvincia], [NombreDistrito]) VALUES (1857, 1, N'Chachapoyas')
INSERT [dbo].[Distrito] ([Id], [IdProvincia], [NombreDistrito]) VALUES (1858, 1, N'Asunción')
INSERT [dbo].[Distrito] ([Id], [IdProvincia], [NombreDistrito]) VALUES (1859, 1, N'Balsas')
GO
SET IDENTITY_INSERT [dbo].[Distrito] OFF
GO
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([Id], [IdDepartamento], [NombreProvincia]) VALUES (1, 1, N'Chachapoyas')
INSERT [dbo].[Provincia] ([Id], [IdDepartamento], [NombreProvincia]) VALUES (2, 1, N'Bagua')
INSERT [dbo].[Provincia] ([Id], [IdDepartamento], [NombreProvincia]) VALUES (3, 1, N'Bongará')
GO
SET IDENTITY_INSERT [dbo].[Provincia] OFF
GO
SET IDENTITY_INSERT [dbo].[Trabajadores] ON 

INSERT [dbo].[Trabajadores] ([Id], [TipoDocumento], [NumeroDocumento], [Nombres], [Sexo], [IdDepartamento], [IdProvincia], [IdDistrito]) VALUES (71, N'DNI', N'70000001', N'Sofía García Pérez', N'F', 15, 128, 3121)
INSERT [dbo].[Trabajadores] ([Id], [TipoDocumento], [NumeroDocumento], [Nombres], [Sexo], [IdDepartamento], [IdProvincia], [IdDistrito]) VALUES (72, N'DNI', N'70000002', N'Alejandro Vargas Soto', N'M', 15, 128, 3122)
INSERT [dbo].[Trabajadores] ([Id], [TipoDocumento], [NumeroDocumento], [Nombres], [Sexo], [IdDepartamento], [IdProvincia], [IdDistrito]) VALUES (73, N'DNI', N'70000003', N'Valentina Méndez Rojas', N'F', 15, 128, 3123)
GO
SET IDENTITY_INSERT [dbo].[Trabajadores] OFF
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincia] ([Id])
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamento] ([Id])
GO
ALTER TABLE [dbo].[Trabajadores]  WITH CHECK ADD FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamento] ([Id])
GO
ALTER TABLE [dbo].[Trabajadores]  WITH CHECK ADD FOREIGN KEY([IdDistrito])
REFERENCES [dbo].[Distrito] ([Id])
GO
ALTER TABLE [dbo].[Trabajadores]  WITH CHECK ADD FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincia] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarTrabajadores]    Script Date: 8/13/2025 5:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[sp_ListarTrabajadores]
    @SexoFiltro VARCHAR(1) = NULL
AS
BEGIN
    SELECT 
        t.Id,
        t.TipoDocumento,
        t.NumeroDocumento,
        t.Nombres,
        t.Sexo,
        t.IdDepartamento,
        t.IdProvincia,
        t.IdDistrito,
        d.NombreDepartamento,
        p.NombreProvincia,
        di.NombreDistrito
    FROM Trabajadores t
    INNER JOIN Departamento d ON t.IdDepartamento = d.Id
    INNER JOIN Provincia p ON t.IdProvincia = p.Id
    INNER JOIN Distrito di ON t.IdDistrito = di.Id
    WHERE (@SexoFiltro IS NULL OR t.Sexo = @SexoFiltro)
	ORDER BY 
        t.id;
END
GO
USE [master]
GO
